{% extends 'base.html' %}
{% load static %}
{% block title %}
A-Store
{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    <br>
    <h1 class="text-center product_title">
        Thank you for your order!
    </h1>
    <br>
    <br>
    <p>Tour order numbers is: <b>{{customer_order.id}}</b></p>
    <br>
    <p>
        We receive your order and will be processed as soon as posible.
        An email with all the details of your order has been sent to you.
    </p>
</div>

{% endblock %}